@font-face {
  font-family: OpenSans-Light;
  src: url('../fonts/OpenSans-Light.ttf');
}

body{
	font-family: 'OpenSans-Light';
	background-color: #D8BFD8;
}

.калькулятор{
border-radius: 5px;
margin-top: 128px;
width: 534; 
border: 1px solid #A9A9A9;
box-shadow: 5px 5px 15px 5px #808080;
background-color: #FFFFFF;
}

.text { text-align: right;
      color: #DC143C;
font-size: 40 
}

.калькулятор__окно-вычислений {
width: auto; 
height: auto;
border-bottom: 1px solid #A9A9A9;
	text-align: right;
	font-weight: bold;
	font-size: 35pt;
	color: #A9A9A9;
	padding-right: 25px;
	padding-top: 54px;
	
	}
	


.цвет_фона {
background-color: #D8BFD8;
}

.таблица_с_кнопками {
  
border-collapse: collapse
}

.расчетное_значение {
	text-align: right;
	font-weight: bold;
	font-size: 35pt;
	color: #A9A9A9;
	padding-right: 25px;
	padding-top: 54px;
	
	}

.калькулятор__кнопка-основная {
border-right: 1px solid grey;
border-bottom: 1px solid grey;
width: 78px; 
height: 51px;
color: #000000;
background-color: #FFE4E1;
text-align: center;
font-weight: bold;
 font-size: 14pt;
  opacity: 1;
  transition: opacity 0.3s;

}

.калькулятор__кнопка-основная:hover{
		cursor: pointer;
	opacity: 0.7;
   }

.калькулятор__кнопка-функциональных-вычислений {
border-right: 1px solid grey;
border-bottom: 1px solid grey;
width: 78px; 
height: 51px;
background-color: #DCDCDC;
color: #000000;
text-align: center;
font-weight: bold;
font-size: 14pt;
opacity: 1;
  transition: opacity 0.3s;
}
.калькулятор__кнопка-функциональных-вычислений:hover{
	cursor: pointer;
	opacity: 0.7;
}

.калькулятор__кнопка-арифметических-вычислений {
border-bottom: 1px solid grey;
width: 78px; 
height: 51px;
background-color: #FFD700;
color: #000000;
font-weight: bold;
text-align: center;
font-size: 14pt;
opacity: 1;
  transition: opacity 0.3s;
}
.калькулятор__кнопка-арифметических-вычислений:hover {
		cursor: pointer;
		opacity: 0.7;
}

.калькулятор__кнопка-нижняя {
	border-bottom: unset;
width: 78px; 
height: 51px;
color: #000000;
font-weight: bold;
text-align: center;
opacity: 1;
  transition: opacity 0.3s;
}

.калькулятор__кнопка-ноль {
	text-align: left;
	padding-left: 24pt;
	opacity: 1;
  transition: opacity 0.3s;
}