h1{
    font-size: 240 
    font-family:Avantgarde; 
    color: #DC143C;
    }
  

<<<<<<< HEAD
div {
width: 800px; 
height: 500px; 
border: 10px ridge #DC143C;
}
=======
.small{
width: 100px; 
height: 100px; 
border: 6px ridge #DC143C;
}
.big{
	width: 1000px; 
height: 500px; 
border: 2px solid #000000;
}
	

.text { text-align: right;
      color: #DC143C;
font-size: 240 
}

>>>>>>> Branch_0d8bc3b
